Source: python-keystoneclient
Section: python
Priority: extra
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Thomas Goirand <zigo@debian.org>,
Build-Depends: debhelper (>= 9),
               dh-python,
               openstack-pkg-tools,
               python-all,
               python-pbr (>= 0.11),
               python-setuptools,
               python3-all (>= 3.4),
               python3-pbr (>= 0.11),
               python-sphinx (>= 1.1.2),
Build-Depends-Indep: memcached,
                     python-babel (>= 1.3),
                     python-coverage,
                     python-crypto (>= 2.6),
                     python-fixtures (>= 0.3.14),
                     python-hacking (>= 0.10.0),
                     python-iso8601 (>= 0.1.9),
                     python-keyring (>= 2.1),
                     python-lxml (>= 2.3),
                     python-memcache,
                     python-mock (>= 1.0),
                     python-mox3 (>= 0.7.0),
                     python-netaddr (>= 0.7.12),
                     python-oauthlib (>= 0.6),
                     python-oslo.config (>= 1:1.11.0),
                     python-oslo.i18n (>= 1.5.0),
                     python-oslo.serialization (>= 1.4.0),
                     python-oslo.utils (>= 1.4.0),
                     python-oslosphinx (>= 2.5.0),
                     python-oslotest (>= 1.5.1),
                     python-prettytable (>= 0.7),
                     python-pysaml2,
                     python-requests (>= 2.5.2),
                     python-requests-mock (>= 0.6.0),
                     python-six (>= 1.9.0),
                     python-stevedore (>= 1.3.0),
                     python-tempest-lib (>= 0.5.0),
                     python-testresources (>= 0.2.4),
                     python-testtools (>= 0.9.36),
                     python-webob (>= 1.2.3),
                     python3-babel (>= 1.3),
                     python3-fixtures (>= 0.3.14),
                     python3-iso8601 (>= 0.1.9),
                     python3-keyring (>= 2.1),
                     python3-lxml (>= 2.3),
                     python3-memcache (>= 1.54+20150423+git+48e882719c-1~),
                     python3-mock (>= 1.0),
                     python3-mox3 (>= 0.7.0),
                     python3-netaddr (>= 0.7.12),
                     python3-oauthlib (>= 0.6),
                     python3-oslo.config (>= 1:1.11.0),
                     python3-oslo.i18n (>= 1.5.0),
                     python3-oslo.serialization (>= 1.4.0),
                     python3-oslo.utils (>= 1.4.0),
                     python3-oslotest (>= 1.5.1),
                     python3-pep8,
                     python3-prettytable (>= 0.7),
#                     python3-pysaml2,
                     python3-requests (>= 2.5.2),
                     python3-requests-mock (>= 0.6.0),
                     python3-six (>= 1.9.0),
                     python3-stevedore (>= 1.3.0),
                     python3-subunit,
                     python3-tempest-lib (>= 0.5.0),
                     python3-testresources (>= 0.2.4),
                     python3-testtools (>= 0.9.36),
                     python3-webob (>= 1.2.3),
                     subunit,
                     testrepository (>= 0.0.18),
Standards-Version: 3.9.6
Homepage: https://github.com/openstack/python-keystoneclient
Vcs-Git: git://anonscm.debian.org/openstack/python-keystoneclient.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=openstack/python-keystoneclient.git;a=summary

Package: python-keystoneclient
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~),
Depends: python-babel (>= 1.3),
         python-iso8601 (>= 0.1.9),
         python-keyring,
         python-netaddr (>= 0.7.12),
         python-oslo.config (>= 1:1.11.0),
         python-oslo.i18n (>= 1.5.0),
         python-oslo.serialization (>= 1.4.0),
         python-oslo.utils (>= 1.4.0),
         python-pbr (>= 0.11),
         python-prettytable (>= 0.7),
         python-pysaml2,
         python-requests (>= 2.5.2),
         python-six (>= 1.9.0),
         python-stevedore (>= 1.3.0),
         ${misc:Depends},
         ${python:Depends},
         ${sphinxdoc:Depends},
Description: client library for the OpenStack Keystone API
 This is the identity service used by OpenStack for authentication (authN)
 and high-level authorization (authZ). It currently supports token-based
 authN with user/service authZ, and is scalable to support OAuth, SAML,
 and OpenID in future versions. Out of the box, Keystone uses SQLite for
 its identity store database, with the option to connect to external LDAP.
 .
 This is a client for the OpenStack Keystone API. There's a Python API
 (the "keystoneclient" module), and a command-line script ("keystone").
 .
 Installing this package gets you a shell command, that you can use to
 interact with Keystone's API.
